<!DOCTYPE html>
<html lang="en" th:replace="~{component/layout/layout::dynamic(~{::main})}">
<main>
    <h3>Quản lý nhân viên</h3>
    <div class="shadow-lg p-3 mt-5 mb-5 bg-body-tertiary rounded">
        <span class="h5"><i class="fa-solid fa-filter"></i> Bộ lọc</span>
        <div class="row row-cols-2 mt-3">
            <div class="mb-3">
                <label for="search" class="form-label">Tìm kiếm</label>
                <input type="search" class="form-control" id="search" aria-describedby="search"
                       placeholder="Nhập từ khóa tìm kiếm(mã giảng viên/tên giảng viên/email)">
            </div>
            <div class="mb-3">
                <label for="search" class="form-label">Trạng thái</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>--Chọn trạng thái--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
    <div class="shadow-lg p-3 mt-5 mb-5 bg-body-tertiary rounded">
        <div class="row row-cols-2 mb-3">
            <div class="col-3 d-flex align-items-center">
                <span class="fw-bold h5"><i class="fa-solid fa-bars"></i> Danh sách nhân viên</span>
            </div>
            <div class="col-9 d-flex justify-content-end">
                <button class="btn btn-custom btn-dark me-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#importExcel">Import nhân viên
                </button>
                <div class="modal fade" id="importExcel" tabindex="-1" aria-labelledby="importExcelLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="post" th:action="@{/excel/import}" enctype="multipart/form-data"
                              class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="importExcelLabel">Tải lên File Excel</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="file" class="form-control" id="file" name="file">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-secondary">Tải lên</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a th:href="@{/excel/download-template}" class="btn btn-custom btn-dark me-2">Download template</a>
                <a th:href="@{/add}" class="btn btn-custom btn-dark me-2">Thêm nhân viên</a>
                <button class="btn btn-custom btn-dark me-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#historyModal">Xem lịch sử import
                </button>

                <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="historyModalLabel">Lịch sử thao tác</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">Mô tả</th>
                                    </tr>
                                    </thead>
                                    <tbody id="historyTableBody">
                                    <tr th:if="${listHistory.isEmpty()}" class="text-center">
                                        <td colspan="5" class="fst-italic">Chưa có thao tác nào!</td>
                                    </tr>
                                    <th:body th:each="i, iStat : ${listHistory}">
                                        <tr>
                                            <th scope="row">[[${iStat.index + 1}]]</th>
                                            <td>[[${i.createDate}]]</td>
                                            <td>[[${i.description}]]</td>
                                        </tr>
                                    </th:body>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <table class="table table-bordered" id="table-emp">
                <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã nhân viên</th>
                    <th scope="col">Tên nhân viên</th>
                    <th scope="col">Email FPT</th>
                    <th scope="col">Email FE</th>
                    <th scope="col">Trang thái</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody th:each="e , iStat : ${listEmp}">
                <tr>
                    <th scope="row">[[${iStat.index + 1}]]</th>
                    <td>[[${e.staffCode}]]</td>
                    <td>[[${e.name}]]</td>
                    <td>[[${e.accountFpt}]]</td>
                    <td>[[${e.accountFe}]]</td>
                    <td>[[${e.status == 1 ? 'Đang hoạt động' : 'Ngừng hoạt động'}]]</td>
                    <td class="text-center">
                        <a th:href="@{'/detail/' + ${e.id}}" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a th:href="@{'/change-status/' + ${e.id}}" class="btn"><i class="fa-solid fa-trash"></i></a>
                        <a th:href="@{'/department-major/' + ${e.id}}" class="btn"><i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>